.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 14px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}
